<!DOCTYPE html>
    {% load static %}
    <head>
        <title>Fitri's Website</title>
        <meta charset="UTF-8">
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link class="icon" rel="icon" type="img/png" href="https://files.catbox.moe/qoyk7z.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu Condensed">
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
        <link class="style" rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="{% url 'loginLibrary' %}" class="navbar-brand"><img class="logo mr-auto" src="https://files.catbox.moe/qoyk7z.png"></a>
            <span style="text-align: center;"><h2>Library</h2></span>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>  
            </div>
        </nav>

        <div class="fitribookstore justify-content-center">
            <div class="row">
                {% if user.is_authenticated %}
                <a class="btn btn-primary btn-outline-success my-2 my-sm-0"type="submit" style="color: white;" href="{% url 'out' %}">Logout</a>
                <h2 class="col-lg-3 col-8 about">Hello {{user}}!</h2>
                {% else %}
                <a class="btn btn-primary btn-outline-success my-2 my-sm-0"type="submit" style="color: white;" href="{% url 'loginLibrary' %}">Login</a>
                <h2 class="col-lg-3 col-8 about">Hello Anonim! Login Yuk!</h2>
                {% endif %}
            </div>
            <h3>Search Your Favorite Book Here!</h3>
            <div class="searchbox justify-content-center">
                <form class="search-box-container">
                    <h5></h5>
                    <input class="form-control mr-sm-2" id="search-field" maxlength="100" type="text" placeholder="Search for books ..." aria-label="Search">
                    <h5></h5>
                    <button class="btn btn-primary btn-rounded btn-sm my-0" type="button" id="search-button" value="search" style="color: white;">Search</button>
                </form>
            </div>
                <div class="table-of-books">
                <table class="table m-0 table_book">
                    <thead>
                        <tr>
                            <td>No.</td>
                            <td>Book cover</td>
                            <td>Title</td>
                            <td>Author</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <footer class="page-footer font-small blue fixed-bottom">
            <!-- Copyright -->
                <div class="footer-copyright text-center py-3">Fitri Handayani © 2019</div>
            <!-- Copyright -->
        </footer>
        <!-- JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>