<!DOCTYPE html>
    {% load static %}
    <head>
        <title>Fitri's Website</title>
        <meta charset="UTF-8">
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link class="icon" rel="icon" type="img/png" href="https://files.catbox.moe/qoyk7z.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu Condensed">
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
        <link class="style" rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="{% url 'loginLibrary' %}" class="navbar-brand"><img class="logo mr-auto" src="https://files.catbox.moe/qoyk7z.png"></a>
            <span style="text-align: center;"><h2>Library</h2></span>
        </nav>
        <div class="loginPage justify-content-center" style="padding: 150px;">
            <div class="card" style="width: 100%;">
                <h1 class="card-title" style="padding: 20px;">Login</h1>
                <div class="card-body">
                    <form method="POST">
                            {% csrf_token %}
                        {{ error_message }}
                        <div class="form-group row">
                            <label for="username" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username here">
                        </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-sm-10">
                                <button class="btn btn-primary btn-outline-success my-2 my-sm-0" type="submit" style="color: white;">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <h4 style="padding: 20px;">Don't have any account yet?</h4>
            <a class="btn btn-primary btn-outline-success my-2 my-sm-0" href="{% url 'register' %}" type="submit" style="color: white;">Sign Up</a>
        </div>
        <footer class="page-footer font-small blue fixed-bottom">
            <!-- Copyright -->
                <div class="footer-copyright text-center py-3">Fitri Handayani © 2019</div>
            <!-- Copyright -->
        </footer>
        <!-- JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>