<!DOCTYPE html>
    {% load static %}
    <head>
        <title>Fitri's Website</title>
        <meta charset="UTF-8">
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link class="icon" rel="icon" type="img/png" href="https://files.catbox.moe/qoyk7z.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu Condensed">
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
        <link class="style" rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="{% url 'loginLibrary' %}" class="navbar-brand"><img class="logo mr-auto" src="https://files.catbox.moe/qoyk7z.png"></a>
            <span style="text-align: center;"><h2>Library</h2></span>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
                <form class="form-inline my-2 my-lg-0">
                        <a type="submit" href="{% url 'loginLibrary' %}"class="btn btn-primary" style="color: white;">Login</a>
                </form>
            </div>
        </nav>
        <div class="registerPage" style="padding: 100px;">
            <h1>Register</h1>
            <form style="text-align: left;" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    {{form.username}}
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    {{form.email}}
                </div>
                <div class="form-group">
                  <label for="inputPassword">Password</label>
                  {{form.password}}
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password Confirmation</label>
                    {{form.konfirmasi_password}}
                </div>
                    <input type="submit" class="btn btn-primary" value="Sign Up" style="color: white;"></input>
                    <p class="about" style="text-align: center;">{{message}}</p>
            </form>
        </div>

        <footer class="page-footer font-small blue fixed-bottom">
            <!-- Copyright -->
                <div class="footer-copyright text-center py-3">Fitri Handayani © 2019</div>
            <!-- Copyright -->
        </footer>
        <!-- JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>